<div class="container">
  <div class="row">
    <form>
      <div class="col">
        <mat-form-field appearance="fill">
          <mat-label>Municipio</mat-label>
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="municipioSelec($event.option.value)">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.nombre}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </form>  
  </div>

  <prediccion *ngIf="prediccionLista" [prediccion]="prediccion"></prediccion>
</div>